# Token that you get from BotFather.
BOT_TOKEN=

# Telegram IDs of people who can run certain priviledged commands.
# To get id see for example https://t.me/rawdatabot
# Separate multiple IDs with commas: 123456789,987654321
BOT_ADMINS=

# ID of chat where daily backup and consumption notifications are sent.
# To get id add https://t.me/rawdatabot to group.
ADMIN_CHAT=

# ID of chat where messages sent to bot are forwarded.
MESSAGING_CHAT=

# ID of Google Sheets where database is backed up. You can get ID from URL
# like this https://docs.google.com/spreadsheets/d/<ID>/some/stuff
INVENTORY_SHEET_ID=
USERS_SHEET_ID=
TRANSACTIONS_SHEET_ID=

# Google Calendar IDs for different event types
# These are the calendar IDs that the bot will follow
GOOGLE_CALENDAR_FK_TAPAHTUMAT=ahe0vjbi6j16p25rcftgfou5eg@group.calendar.google.com
GOOGLE_CALENDAR_FK_KOKOUKSET=guqva296aoq695aqgq68ak7lkc@group.calendar.google.com
GOOGLE_CALENDAR_FK_FUKSIT=u6eju2k63ond2fs7fqvjbna50c@group.calendar.google.com
GOOGLE_CALENDAR_FK_KULTTUURI=hjhvblcv9n1ue3tf29j3loqqi4@group.calendar.google.com
GOOGLE_CALENDAR_FK_LIIKUNTA=0orqvov2gidl3m24cnsq4ml1ao@group.calendar.google.com
GOOGLE_CALENDAR_FK_URA_JA_OPINNOT=ji339ebgiaauv5nk07g41o65q8@group.calendar.google.com

# Base URL to fiirumi.
FIIRUMI_POSTS_URL=https://fiirumi.fyysikkokilta.fi 
